# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]uild/
bld/
[Bb]in/
[Oo]bj/

# NuGet
*.nupkg
*.snupkg
.nuget/
**/packages/*
*.nuget.props
*.nuget.targets
project.lock.json
project.fragment.lock.json

# Visual Studio / Rider
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
*.idea/

# Test results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
TestResult.xml
coverage*/

# OS files
.DS_Store
Thumbs.db
